body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: url('./assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#root {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    max-width: 500px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    align-items: center;
    min-height: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    backdrop-filter: blur(10px);
}